<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="https://holvi.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% set pagetitle = renderData.title or title or metadata.title %}
    {% set pagedescription = description or metadata.description %}

    <title>{{ pagetitle }}</title>

    <link rel="preload" href="/assets/css/normalize.css" as="style">
    <link rel="preload" href="/assets/css/style.css" as="style">
    <link rel="preload" href="/assets/js/testing.js" as="script">

    <link type="text/css" rel="stylesheet" href="/assets/css/normalize.css" media="all">
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" media="all">

    <script type="text/javascript" src="/assets/js/testing.js"></script>

    {# Canonical URL structure is defined based on the site section. #}
    {% if permalink == "/" %}
      {% set canonicalUrl = metadata.url %}
    {% else %}
      {% set canonicalUrl = metadata.url + page.url %}
    {% endif %}

    {# Consolidate duplicate URLs: #}
    {# - https://support.google.com/webmasters/answer/139066?hl=en #}
    <link rel="canonical" href="{{ canonicalUrl }}">

    {# OpenGraph http://ogp.me/ #}
    {% if section == "articles" %}
    <meta property="og:type" content="blog">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}

    <meta property="og:url" content="{{ canonicalUrl }}">
    <meta property="og:title" content="{{ pagetitle }}">
    <meta property="og:description" content="{{ pagedescription }}">
    <meta property="og:site_name" itemprop="name" content="{{ metadata.title }}">
    <meta property="og:locale" content="{{ metadata.options.lang }}">
    {# <meta property="og:locale:alternate" content="{{ metadata.options.lang_alternative }}"> #}
    <meta property="og:image" content="{{ openGraphImage or metadata.openGraphImage }}">
    <meta property="og:image:width" content="1200">

    {# Twitter Card #}
    {# - https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html #}
    {# - https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ pagetitle }}">
    <meta name="twitter:description" content="{{ pagedescription }}">

    {# Common social tags #}
    <meta name="title" content="{{ pagetitle }}">
    <meta name="description" content="{{ pagedescription }}">


    {% set iconpath = "/assets/images/icons" %}

    {# Icons #}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ iconpath }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ iconpath }}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ iconpath }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ iconpath }}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ iconpath }}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ iconpath }}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ iconpath }}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ iconpath }}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ iconpath }}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ iconpath }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ iconpath }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ iconpath }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ iconpath }}/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="msapplication-TileColor" content="#46C6C6">
    <meta name="msapplication-TileImage" content="{{ iconpath }}/ms-icon-144x144.png">
    <meta name="theme-color" content="#46C6C6">

  </head>

  <body>

    <header role="banner">
{% include 'navigation.njk' %}
    </header>

    <main role="main" class="content">
      {{ content | safe }}
    </main>

    <footer role="contentinfo">
      <!-- Copyright statement, etc -->
      <p>&copy; 2019 Tech Excellence event organizers</p>
    </footer>

  </body>
</html>
